{{ 'footer.css' | asset_url | stylesheet_tag }}

{% liquid
  assign has_social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign has_social_icons = false
  endif
%}
<div class="footer">
  <div class="footer-main-container">
    
        <div class="logo">
          <img src="{{ section.settings.logo | img_url: "master"}}">
        </div>
        <div class="info">
          {% for block in section.blocks %}
            {%- if block.type == 'link_list' -%}
              {%- if block.settings.heading -%}
                <h2 class="title">{{ block.settings.heading }}</h2>
              {%- endif -%}
              {%- if block.settings.menu != blank -%}
                <ul>
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            {%- endif -%}
          {% endfor %}
        </div>
        <div class="contact">
          {%- for block in section.blocks -%}
            {%- if block.type == 'text' -%}
              {%- if block.settings.heading -%}
                <h2 class="title">{{ block.settings.heading }}</h2>
              {%- endif -%}
              {%- if block.settings.subtext -%}
                <p>{{ block.settings.subtext }}</p>
              {%- endif -%}
              <div class="social-icons">
                {%- if block.settings.show_social and has_social_icons -%}
                  {%- render 'social-icons', class: 'footer__list-social' -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
    
    <div class="newsletter">
      <div class="container">
        {%- for block in section.blocks -%}
          {% if block.type == 'text-with-input-button' %}
            {% if block.settings.header %}
              <span>{{ block.settings.header }}</span>
            {% endif %}
            {% if block.settings.content %}
              <p>{{ block.settings.content }}</p>
            {% endif %}
            <div class="lable-with-input">
              <label>Email Address</label>
              <input class="newsletter-input">
            </div>
            {% if block.settings.button_label %}
                <div class="btn">
                    <a class="text" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
                </div>
            {% endif %}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "footer1",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Contact Title"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "link",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "link_list"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "label": "SubText"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "Show Social"
        }
      ]
    },
    {
      "type": "text-with-input-button",
      "name": "multi",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "header"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "Button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}
