{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% comment %}
  <div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width page-width--narrow section-{{ section.id }}-padding">
      <h2 class="page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {%- if section.settings.page.title != blank -%}
          {{ section.settings.page.title | escape }}
        {%- else -%}
          {{ 'sections.page.title' | t }}
        {%- endif -%}
      </h2>
      <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {%- if section.settings.page.content != blank -%}
          {{ section.settings.page.content }}
        {%- else -%}
          <div class="page-placeholder-wrapper placeholder">
            {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{% endcomment %}

<div class="headlink-page">
  <div class="container">
    <div class="main-content">
      {%- if section.settings.heading -%}
        <h1 class="heading">{{ section.settings.heading }}</h1>
      {%- endif -%}
      {%- if section.settings.subheading -%}
        <h3 class="subheading">{{ section.settings.subheading }}</h3>
      {%- endif -%}
      {%- if section.settings.sub_content -%}
        <p class="subcontent">{{ section.settings.sub_content }}</p>
      {%- endif -%}
      {%- if section.settings.headlink -%}
        <h2 class="headlink">{{ section.settings.headlink }}</h2>
      {%- endif -%}
      {%- if section.settings.headlink_image -%}
        <img class="headlink-img" src="{{ section.settings.headlink_image | img_url: "master"}}">
      {%- endif -%}
      {%- if section.settings.headlink_content -%}
        <p class="headlink-content">{{ section.settings.headlink_content }}</p>
      {%- endif -%}
    </div>
    {%- for block in section.blocks -%}
      {%- if block.type == "img" -%}
        {%- if block.settings.content_img -%}
          <img src="{{ block.settings.content_img | img_url: "master" }}">
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    <div class="right-link">
      <div class="container">
        {%- for block in section.blocks -%}
          {%- if block.type == "link_list" -%}
            {%- if block.settings.heading -%}
              <h2 class>{{ block.settings.heading }}</h2>
            {%- endif -%}
            {%- if block.settings.menu -%}
              <div>{{ block.settings.menu }}</div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "subHeading"
    },
    {
      "type": "richtext",
      "id": "sub_content",
      "label": "subcontent"
    },
    {
      "type": "richtext",
      "id": "headlink",
      "label": "headlink"
    },
    {
      "type": "richtext",
      "id": "headlink_content",
      "label": "headlink_content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "image_picker",
      "id": "headlink_image",
      "label": "Headlink image"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "link",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Link list"
        }
      ]
    },
    {
      "type": "img",
      "name": "img",
      "settings": [
        {
          "type": "image_picker",
          "id": "content_img",
          "label": "content image"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
