{{ 'sign-up.css' | asset_url | stylesheet_tag }}

<div class="page-width sign-up section-{{ section.id }}">
  <div class="main-wrapper">
    {% style %}
      .section-{{ section.id }} .main-wrapper {
          background-image: url("{{ section.settings.bg_image | img_url: 'master' }}");
          height: 314px;
          background-position: inherit;
          background-size: cover;
      }
      .custom-text-color {
        color: {{ section.settings.signup_color }};
      }
    {% endstyle %}
    <div class="container">
      <div>
        {%- if section.settings.header -%}
          <h1 class="custom-text-color">{{ section.settings.header }}</h1>
        {%- endif -%}
        {%- if section.settings.sub_header -%}
          <p class="subheader custom-text-color">{{ section.settings.sub_header }}</p>
        {%- endif -%}
      </div>
      <div class="input-with-button">
        <div class="label-input"> 
          <label class="label">Email Address</label>
          <input class="sign-up-input">
        </div>
        {%- if section.settings.button_label -%}
          <a class="sign-up-btn" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "sign-up",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "signup_color",
      "label": "Backgroud text"      
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "join our Newsletter"
    },
    {
      "type": "text",
      "id": "sub_header",
      "label": "subHeader"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Sign up"
    }
  ]
}
{% endschema %}
